.nav{
  height: 130px;
  background-color: #3e235c;
  color: white;
}

h1{
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  text-align: center;
}

.back-text{
  background-color: #2c0b3e;
  border-radius: 30px;
  padding: 5px;
}

.nav-section{
  flex: 1;
}

.icon{
  font-size: 3rem;
}
.candado{
  color: white;
  font-size: 3rem;
}
