.nav{
  height: 130px;
  background-color: #9c27b0;
  border: 2px solid black;
  color: white;
}
h1{
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-align: center;
}
.back-text{
  background-color: #2c0b3e;
  border-radius: 30px;
  padding: 5px;
}

.nav-section{
  flex: 1;
}

.icon{
  font-size: 3rem;
}
.candado{
  color: black;
  font-size: 3rem;
}
