.panel-registro{
  background-color: #3d1254;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-form, .register-form-second{
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 30px 50px;
  box-sizing: border-box;
}

.register-form, .register-form-second{
  display: none;

  &.active{
    display: block !important;
  }
}

input:hover{
  background-color: gainsboro;
  border-color: black;
}

#registerUser {
  padding: 10px;
}