.panel-registro{
  background-color: #3d1254;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-form{
  margin: 20px;
  padding: 30px 50px;
}

.register-form-second{
  margin: 20px;
  padding: 30px 50px;
}