<div class="container-home vh-100 d-flex align-items-center justify-content-center">

    <div class="container-cuadro text-center text-white p-5 rounded shadow-lg">

        <div class="animation-titulo">
            <span style="--i:1">S</span>
            <span style="--i:2">H</span>
            <span style="--i:3">I</span>
            <span style="--i:4">F</span>
            <span style="--i:5">T</span>
            <span style="--i:6">L</span>
            <span style="--i:7">Y</span>
        </div>

        <p class="text text-uppercase small mb-2">¡Bienvenido!</p>

        <button routerLink="/panel-control" class="boton-to-panel btn btn-lg px-5 py-2 text-uppercase fw-bold shadow">
            Inicio
        </button>
    </div>
</div>