<div class="container-pagina-principal-admin vh-100 d-flex align-items-center justify-content-center">

    <div class="caja-uno-compacta">
        <div class="row g-0">
            <button class="btn-light"></button>
            <button class="btn-light"></button>
            <button class="btn-light"></button>
            <button class="btn-light"></button>


        </div>

    </div>




    <div class="caja-admin-compacta"> <!--caja / cajita dos-->
        <div class="row g-0">
            <div class="col-6 border-negro">
                <button class="btn-light w-100 h-100 fw-bold">Modificar Producto</button>
            </div>
            <div class="col-6 border-negro">
                <button class="btn-light w-100 h-100 fw-bold">Añadir Producto</button>
            </div>
            <div class="col-6 border-negro">
                <button class="btn-light w-100 h-100 fw-bold">Añadir Empleado</button>
            </div>
            <div class="col-6 border-negro">
                <button class="btn-light w-100 h-100 fw-bold">Ver Informe</button>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-12 border-negro">
                <button class="btn-light w-100 h-100 fw-bold">Productos</button>
            </div>
        </div>
    </div>

</div>