<div class="container-pagina-principal-admin vh-100 d-flex align-items-center justify-content-between w-100 px-5">

        <div class="col-auto">
            <div class="caja-uno-compacta">
                <div class="d-flex flex-column">
                    <button class="fw-bold ">boton uno</button>
                    <button class="fw-bold">boton dos</button>
                    <button class="fw-bold">boton tres</button>
                    <button class="fw-bold">boton cuatro</button>
                </div>
            </div>
        </div>



        <div class="col-auto">
            <div class="caja-admin-compacta"> <!--caja / cajita dos-->
                <div class="row g-0">
                    <div class="col-6">
                        <button class="btn-light w-100 h-100 fw-bold">Modificar Producto</button>
                    </div>
                    <div class="col-6">
                        <button class="fw-bold">Añadir Producto</button>
                    </div>
                    <div class="col-6">
                        <button class="fw-bold">Añadir Empleado</button>
                    </div>
                    <div class="col-6">
                        <button class="fw-bold">Ver Informe</button>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-12">
                        <button class="w-100 fw-bold">Productos</button>
                    </div>
                </div>
            </div>
        </div>

</div>